[Unit]
Description=Chromium kiosk
Wants=graphical.target
After=graphical.target

[Install]
WantedBy=graphical.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.XAUTHORITYType=simple
Type=simple
ExecStart=/usr/bin/chromium-browser --noerrdialogs --disable-infobars --kiosk http://localhost
Restart=always
User=pi
Group=pi
