[Unit]
Description=Chromium kiosk
Wants=graphical.target
After=graphical.target

[Install]
WantedBy=graphical.target

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/xinit ./resources/kiosk.sh
Restart=always
User=pi
Group=pi
