[Unit]
Description=X Server
Wants=multi-user.target
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=startx
Restart=always
