.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}

.line > span {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub {
  flex: 0;
  opacity: 0.5;
  text-align: right;
}
