.topnav {
  display: flex;
  width: 100%;
  background: #222;
}

.topnav a {
  padding: 10px 15px;
  cursor: pointer;
}

.topnav a * {
  cursor: pointer;
}

.topnav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

a.activeBtn {
  background: #0366d6;
}

a.activeBtn:hover {
  background: #4185d2;
}

.rightBtn {
  margin-left: auto;
}

.topnav h1 {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 15px;
  text-align: center;
  justify-self: center;
}
